p:hover {color: red;

text-align: center;
}


.transation-div {
    
    width: 100px;
     height: 100px;
     background-color:red;
    animation-name: Mohamed;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes Mohamed{

     
0%{background-color:  red;

left: 0px;
transform: rotate(0);
-webkit-transform: rotate(90deg);

}

100%{background-color: yellow;

left: 400px;
-webkit-transform: rotate(0deg);

}

50%{ top: 100px;
    -webkit-transform: rotate(60deg);


} 
}